[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
google-api-python-client = "*"
google-auth = "*"
google-generativeai = "*"
pandas = "*"
python-dotenv = "*"
logging = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
